@media (max-width: 576px) {
  .bg-grey {
    background: #f7f7f7;
  }
  section > .container {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* Banner */
  #banner {
    position: relative;
    text-align: center;
    color: white;
  }
  #banner img {
    width: 100%;
    height: auto;
  }
  #banner .fullname {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    -webkit-text-stroke: 1px lightseagreen;
    font-size: 70%;
  }
  /* navbar */
  #nav-bar .container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: auto;
  }
  #nav-bar .container a {
    border: none;
    text-transform: uppercase;
    text-decoration: none;
    height: 30px;
    padding: 0px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: #333;
  }
  #nav-bar .container a:nth-child(3) {
    display: none;
  }

  #nav-bar .container a i {
    color: rgb(10, 148, 202);
  }
  /* About Section */
  #about .container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    height: auto;
  }
  #about .container #target {
    width: 100%;
    height: auto;
    text-align: justify;
    align-self: flex-start;
    padding: 32px;
  }
  #about .container #target p {
    padding-top: 40px;
  }
  #about .container #target h1 {
    text-align: left;
  }

  #about .container #personal-info {
    background-color: rgb(246, 243, 240);
    width: 100%;
    height: 100%;
    text-align: left;
    align-self: flex-start;
    padding: 32px;
  }

  /* Job info  */
  #job-info .container {
    display: grid;
    grid-template-columns: 1fr;
    align-items: stretch;
    gap: 10px;
  }
  #job-info .experience,
  #job-info .education,
  #job-info .activity,
  #job-info .hobby,
  #job-info .language,
  #job-info .skill {
    margin: 0 5%;
    text-align: left;
    border: 1px solid rgba(220, 220, 220, 0.8);
  }

  /* Certificate */
  #certificate .container {
    display: block;
    margin-top: 32px;
    padding: 16px 5%;
  }

  #certificate .container .section-content {
    display: grid;
    grid-template-columns: 1fr;
    /* row-gap: 50px; */
  }
  #certificate .container .section-title {
    margin-bottom: 32px;
  }
  #certificate .container .section-content .section-detail {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 32px 0;
  }
  #certificate .container .section-content .section-detail:first-child {
    border: none;
  }

  #certificate .container .section-content .section-detail:nth-child(2) {
    padding: 32px 0;
    border-top: 1px solid #d6c08d;
    border-bottom: 1px solid #d6c08d;
  }
  #certificate .container .section-content .section-detail:nth-child(3) {
    grid-column: 1 / span 1;
    border: none;
    margin-top: 30px;
    padding-top: 30px;
  }
  #certificate .container .section-content .section-detail img {
    width: 100%;
    height: auto;
  }
  #certificate .container .section-content .section-detail div:first-child {
    text-transform: uppercase;
    font-weight: bold;
  }

  /* Project */
  #project .container {
    width: 100%;
    display: block;
    padding: 32px 5%;
  }
  #project .container .section-content {
    display: grid;
    grid-template-columns: 1fr;
    justify-content: space-between;
    align-content: stretch;
    gap: 20px;
    margin-top: 50px;
  }
  #project .container .section-content .section-detail {
    display: inline-block;
    justify-content: start;
  }
  #project .container .section-content .section-detail img {
    width: 100%;
    height: auto;
  }
  #project .container .section-content .section-detail div {
    display: flex;
    justify-content: start;
    align-items: center;
    height: 60px;
    padding-left: 10px;
    border: solid 1px gray;
  }
  #project .container .section-content .section-detail div:nth-child(2) {
    text-transform: uppercase;
    font-weight: bold;
  }
  #project .container .section-content .section-detail div:nth-child(3) span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
    width: 40px;
    height: 30px;
    background-color: #199cdb;
    border-radius: 50px;
    color: white;
  }
  #project .container .section-content .section-detail div:nth-child(3) i {
    padding-left: 10px;
    font-style: normal;
  }

  #project .container .section-content .section-detail table {
    width: 100%;
    height: 300px;
    border: solid 1px gray;
  }
  #project .container .section-content .section-detail table tr:nth-child(odd) {
    background-color: #f2f2f2;
  }

  /* FOOTER */
  #footer .container {
    width: 100%;
    height: 100px;
  }
  #footer .container ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
  }
  #footer .container ul li {
    padding: 0;
  }
  #footer .container ul a {
    display: flex;
    align-items: start;
    text-decoration: none;
  }
  #footer .container ul a span {
    display: none;
  }

  #footer .container ul a i {
    padding: 0;
    font-size: 3em;
    color: #199cdb;
  }
} ;
